* {
    margin: 0;
    padding 0;
}

body {
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 30px 1fr;
}

.sidebar {
    background-color: lightblue;
    height: 100vh;
}

.mainContent {
    background-color: grey;
    height: 100vh;
}