* {
    margin: 0;
    padding 0;
}

body {
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainContainer {
    background-color: grey;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
}

.navigationLink {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.icons {
    height: 40px;
}

#dashboardTitle {
    margin-left: 40px;
   
}

.navbar {
    background-color: white;
    padding: 20px;
}

.searchBar, .profileNavigation {
    display: flex;
    align-items: center;
}

#searchInput {
    width: 500px;
    margin-left: 30px;
    border-radius: 8px;
    border: 1px solid lightslategray;
    background-color: ghostwhite;
}

.navbarTop {
    display: flex;
    justify-content: space-between;
}

.navbarBottom {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.navbarUserGreeting {
    display: flex;
}

.primaryContent {
    display: grid;
    grid-template-columns: 75% 25%;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 1fr 1fr;
    grid-template-areas: 
    "libraryTitle libraryTitle"
    "p1 p2"
    "p3 p4"
    "p5 p6";

    border: 1px solid black;
    gap: 20px;
}

.libraryTitle {
    grid-area: libraryTitle;
}

.project {
    border: 1px solid black;
    /* height: 300px;
    width: 300px; */
    margin: 30px;
}

.project:nth-child(1) {
    grid-area: p1
}
.project:nth-child(2) {
    grid-area: p2
}
.project:nth-child(3) {
    grid-area: p3
}
.project:nth-child(4) {
    grid-area: p4
}
.project:nth-child(5) {
    grid-area: p5
}
.project:nth-child(6) {
    grid-area: p6
}


.secondaryContent {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 20px 1fr;
    grid-template-areas: 
    "announcementsTitle"
    "announcements"
    "trendingTitle"
    "trending";
}

.secondaryContentContainer {
    border: 1px solid black;
}

.announcementsTitle {
    grid-area: announcementsTitle;
}

.trendingTitle {
    grid-area: trendingTitle;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}


