* {
    margin: 0;
    padding 0;
}

body {
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainContainer {
    background-color: grey;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.navigationLink {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.icons {
    height: 40px;
}

#dashboardTitle {
    margin-left: 40px;
   
}

.navbar {
    background-color: white;
    padding: 20px;
}

.searchBar, .profileNavigation {
    display: flex;
    align-items: center;
}

#searchInput {
    width: 500px;
    margin-left: 30px;
    border-radius: 8px;
    border: 1px solid lightslategray;
    background-color: ghostwhite;
}

.navbarTop {
    display: flex;
    justify-content: space-between;
}

.navbarBottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.navbarUserGreeting {
    display: flex;
}

